/**
 * Mixins
 */

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
// Site Extends
/* Featured Excerpts */
%featured-excerpt {

  flex-wrap: wrap;

  padding-bottom: 0;
  border-bottom: 0;

  @include media( $third-break ) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;

    padding-bottom: 0em;
  }

  &.no-post-img {
    .entry-hero {
      position: relative;

      background-color: color( grey );

      &:after {

        content: 'No Image!';

        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 50%;

        text-align: center;

        transform: translate( -50%, -50% );
      }
    }
  }

  &:after {
    flex: 1 1 auto;
    order: 5;

    content: '';

    display: block;
    height: 0px;
    width: 100%;
    max-width: 100%;
    margin-left: flex-gutter( 4 );
    margin-right: flex-gutter( 4 );

    border-bottom: 1px solid color( red );

    @include media( $third-break ) {
      width: auto
    }

    .features-posts & { display: none; }
  }

  .entry-header {
    flex: 1 1 100%;
    order: 3;

    margin: 0 0 1em;
    @include pad( 0 flex-gutter( 4 ) 1em );

    @include media( $third-break ) {
      flex: 0 1 auto;
    }

  }

  .entry-hero {
    flex: 1 1 100%;
    order: 1;


    min-height: 200px;
    max-height: 50vh;
    max-width: 100%;
    margin-bottom: 1em;
    overflow: hidden;


    @include media( $third-break ) {
      flex: 1 1 auto;

      //width: 100%;
      min-height: 270px;
      max-height: 270px;
    }

    img {
      height: auto;
      width: 100%;
      max-height: none;
      //min-height: 100%;
      //min-width: 100%;
    }
  }

  .entry-excerpt {
    flex: 1 1 100%;
    order: 4;

    @include pad( 0 flex-gutter( 4 ) 1em );

    @include media( $third-break ) {
      flex: 1 1 auto;
    }

    .features-posts & { display: none; }
  }

  .entry-footer {
    flex: 1 1 100%;

    display: none;

    @include media( $third-break ) {
      flex: 0 1 auto;
    }
  }

  &.no-post-img {

    padding-top: 2em;

    .entry-header {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

/* Small Excerpt */
%small-excerpt {

  .entry-header {
    order: 1;

    padding-left: flex-gutter();
  }

  .entry-hero {
    flex: 0 0 150px;
    order: 0;
  }
}


// =Site Mixins

@mixin container {
  max-width: $max-width;
  //padding-left: flex-gutter();
  //padding-right: flex-gutter();

  @include media( $max-width ) {
    //overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @at-root .no-mediaqueries & {
    padding-right: flex-gutter();
    padding-left: flex-gutter();
  }
}

@mixin fake-img {
  display: inline-block;
  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  line-height: 0;

  img {
    border: 0;
    clip: none;
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: static;
    width: auto;

    .js & {
      @include visuallyhidden;
    }
  }
}

@mixin wide-triangle {
  margin-bottom: -2em;

  &:before {
    content: '';

    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;

    border-top: 2em solid color( red );
  }

  > * { background-color: transparent; }
}

// =Utility Classes

// Color Map Util
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// Center Block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Antialias fonts
@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Image Replacement
@mixin ir {
  overflow: hidden;

  background-color: transparent;
  background-repeat: no-repeat;

  border: 0;

  /* IE 6/7 fallback */
  *text-indent: -9999px;

}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
@mixin focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;

    @include visuallyhidden;
  }
}


// Hide visually and from screenreaders, but maintain layout
@mixin invisible {
  visibility: hidden;
}


// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}


// Make elements appear clickable
@mixin clickable {
  cursor: pointer;
}

@mixin no-list {
  &,
  & ul {
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;

    li { list-style-type: none; }
  }
}

@mixin yes-list {
  & ul,
  & ol {
    margin-bottom: 2em;
    padding-left: 25px;
  }

  & ul li {
    list-style-type: disc;
  }

  & ol li {
    list-style-type: decimal;
  }
}

@mixin no-button {
  padding: 0;

  background-color: transparent;

  font-size: 1em;
  text-shadow: none;

  border: 0;
  border-radius: 0;

  box-shadow: none;

  &:hover,
  &:active,
  &:focus { box-shadow: none; }
}


// Helper class to fix some Mozilla Flexbox issues. See _flexbox.scss
@-moz-document url-prefix() {
  %mozbox {
    width: 100%;
    -moz-box-sizing: border-box;
  }
}

// Display list as columns
@mixin list-columns {
  margin-bottom: 2em;

  @include no-list;
  @include columns( 2 );

  @include media( $third-break ) {
    @include columns( 4 );
  }

  @at-root .no-csscolumns {
    li {
      display: inline-block;
      width: 33%;
    }
  }
}
