/**
 * Events
 */

.tribe_events {

  .entry-hero {
    position: relative;

    .event-caption {
      position: absolute;

      top: 0.25em;
      left: 0.5em;

      max-width: 25%;


      color: color( white );

      .event-date,
      .event-month { display: block; }
    }
  }

  &.excerpted-post {
    .entry-excerpt,
    &:after { display: none; }

    .entry-footer {
      flex: 1 0 auto;
      z-index: 2;
      display: block;
      max-height: 30px;

      box-shadow: $box-shadow;

      @at-root .widget.most_featured_event & {
        flex: 1 0 100%;
        order: 0;

        display: block;
      }
    }
  }
}

#tribe-events-pg-template {
  max-width: 100%;
}

#tribe-bar-form {
  backround-color: color( grey );

  label {

  }

  input[type=text] {

  }

  .tribe-bar-date-filter,
  .tribe-bar-search-filter,
  .tribe-bar-submit {

    padding-top: 5px;
    padding-bottom: 5px;
  }



  .tribe-bar-submit input[type=submit] {
    background-color: color( red );
  }
}


#tribe-bar-views {

  @include media( $third-break ) {

  }

  .tribe-bar-views-inner {

    background: color( red );
    color: color( white );

    label {
      display: inline-block;
      float: left;
    }

    .tribe-bar-views-list {
      display: inline-block;
    }
  }
}


#tribe_events_filters_wrapper {

  #tribe_events_filter_control {

  }

  .tribe-events-filters-content {
    .tribe-events-filters-label {


    }
  }

  .tribe_events_filter_item {
  }

  .tribe-events-filters-group-heading {
  }

  .tribe-events-filter-group {

    label {

      input[type=checkbox] {

      }

      span {

      }
    }
  }
}

#tribe_events_filters_reset {


}

.tribe-events-page-title {}

#tribe-events-header {


  .tribe-events-sub-nav {}
}

.tribe-events-list-separator-month {
  background-color: color( red );
  color: color( white );

  span {

  }
}

.tribe-events-loop {

}

.tribe-events-page-title {
  @extend %h3;

  margin-bottom: -1em;
}

.tribe-events-sub-nav {
  span { display: none; }

  .tribe-events-nav-left,
  .tribe-events-nav-right {
    a {
      display: block;
      @include pad(0.5rem 1rem);

      background-color: color( light-grey );
      color: color( black );

      font-size: em( 14, 18 );
      font-style: italic;
      text-transform: uppercase;

      transition: all 0.25s ease-out;

      &:before,
      &:after {
        color: color( red );

        font-style: normal;

        transform: translateX( 0 );
      }

      &:hover,
      &:focus {
        background-color: color( grey );
        color: color( light-grey );
      }
    }
  }

  .tribe-events-nav-left {
    a {
      &:before {
        content: "←";
      }

      &:hover:before,
      &:focus:before {
        transform: translateX( -1em );
      }
    }
  }
  .tribe-events-nav-right {
    a {
      &:after {
        content: "→";
      }

      &:hover:after,
      &:focus:after {
        transform: translateX( 1em );
      }
    }
  }
}


.tribe-events-loop .type-tribe_events {
  @extend .excerpted-post;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  box-sizing: content-box;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 1em;

  @include media( $third-break ) {
    max-height: 150px;
  }

  > * {
    flex: 0 1 auto;
    order: 2;
  }

  .tribe-events-event-image {
    flex: 1 1 150px;
    order: 1;

    max-width: 150px;

    .wp-post-image {
      max-height: 150px;
      max-width: 150px;
    }
  }

  .tribe-events-content { display: none; }

}
