/**
 * Events
 */

.tribe_events {

  .entry-hero {
    position: relative;

    .event-caption {
      position: absolute;

      top: 0.25em;
      left: 0.5em;

      max-width: 25%;


      color: color( white );

      .event-date,
      .event-month { display: block; }
    }
  }

  &.excerpted-post {
    &:after { display: none; }

    .entry-footer {
      flex: 1 0 auto;
      z-index: 2;
      display: block;
      max-height: 30px;

      box-shadow: $box-shadow;

      @at-root .widget.most_featured_event & {
        flex: 1 0 100%;
        order: 0;
      }
    }
  }
}

#tribe-events-pg-template {
  max-width: 100%;
}

#tribe-bar-form {
  backround-color: color( grey );

  label {

  }

  input[type=text] {

  }

  .tribe-bar-date-filter,
  .tribe-bar-search-filter,
  .tribe-bar-submit {

    padding-top: 5px;
    padding-bottom: 5px;
  }



  .tribe-bar-submit input[type=submit] {
    background-color: color( red );
  }
}


#tribe-bar-views {

  @include media( $third-break ) {

  }

  .tribe-bar-views-inner {

    background: color( red );
    color: color( white );

    label {
      display: inline-block;
      float: left;
    }

    .tribe-bar-views-list {
      display: inline-block;
    }
  }
}


#tribe_events_filters_wrapper {

  #tribe_events_filter_control {

  }

  .tribe-events-filters-content {
    .tribe-events-filters-label {


    }
  }

  .tribe_events_filter_item {
  }

  .tribe-events-filters-group-heading {
  }

  .tribe-events-filter-group {

    label {

      input[type=checkbox] {

      }

      span {

      }
    }
  }
}

#tribe_events_filters_reset {


}

.tribe-events-page-title {}

#tribe-events-header {


  .tribe-events-sub-nav {}
}

.tribe-events-list-separator-month {
  background-color: color( red );
  color: color( white );

  span {

  }
}
