/**
 * Search
 */

.search-form {

  .widget_search & {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    position: relative;

    @include media( $third-break ) {
      flex: 1 1 100%;

      align-items: stretch;
      align-content: stretch;
      justify-content: flex-end;
    }

    @include media( $tall-enough ) {
    }

    .search-trigger {
      flex: 1 1 auto;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;

      position: relative;

      padding: 8px;

      cursor: pointer;

      transition: all ease-out 0.25s;
      transition-delay: 0.25s;

      @include media( $third-break ) {
        flex: 0 1 auto;

        z-index: 6;

        padding: 8px 41px 8px 8px;

        background-color: transparent;

        border-left: 1px solid transparent;

        box-shadow: none;
      }

      @include media( $tall-enough ) {
        flex: 0 1 auto;

        padding: 16px 57px 16px 16px;
      }

      @at-root .show-search & {
        @include media( $third-break ) {
          background-color: color( white );

          border-left: 1px solid color( red );

          box-shadow: $box-shadow;
        }

        @include media( $tall-enough ) {
        }
      }

      &:hover .search-label {
        opacity: 1;
      }

      .search-label {
        opacity: 0;

        @include media( $less-than-third-break ) {
          @include visuallyhidden;
        }

        @include media( $third-break ) {
          color: color( red );

          transition: all 0.25s ease-out;
        }
      }

      .icon {

        position: absolute;
        top: 12px;
        right: 8px;

        width: 25px;
        height: 25px;

        transition: all 0.25s ease-out;

        pointer-events: none;

        @include media( $third-break ) {
          top: 8px;
          right: 8px;

          transition-delay: 0.25s;
        }

        @include media( $tall-enough ) {
          top: 20px;
          right: 16px;

          width: 35px;
          height: 35px;
        }
      }

      .icon-search {
        opacity: 1;
        transform: scale( 1 );

        @at-root .show-search & {
          opacity: 0;
          transform: scale( 0 );
        }
      }

      .icon-close {
        opacity: 0;
        transform: scale( 0 );

        @at-root .show-search & {
          opacity: 1;
          transform: scale( 1 );
        }
      }
    }

    .search-wrapper {
      display: flex;
      flex-wrap: nowrap;

      position: absolute;
      top: 100%;
      right: 0;
      width: 0vw;
      height: 76px;
      overflow: hidden;

      background-color: color( white );

      border-top: 1px solid color( grey );

      box-shadow: 0;

      //transform: translateX( 100% );

      transition: all 0.25s ease-out;

      @include media( $third-break ) {
        position: absolute;
        top: 0;
        right: 41px;
        z-index: 7;

        width: 450px;
        max-width: 45vw;
        height: 100%;
        overflow: visible;

        box-shadow: none;

        border-top: 0;

        transition: all 0.25s ease-out;

        transform: translateY(-100%);
        transform-origin: top;


        //outline: 1px dotted blue;
      }

      @include media( $tall-enough ) {
        right: 57px;
      }

      @at-root .show-search & {
        width: 100vw;

        box-shadow: 5px 10px 10px rgba( 26, 25, 25, 0.4);

        //transform: translateX( 0 );

        @include media( $third-break ) {
          width: 450px;

          box-shadow: 0px 10px 10px rgba( 26, 25, 25, 0.4);

          transform: translateY(0);
        }
      }

      .search-label {
        flex: 1 1 auto;

        display: flex;
        align-items: stretch;
        padding: 16px 8px;

        @include media( $third-break ) {
          padding: 4px 0 4px 16px;
        }

        @include media( $tall-enough ) {
          padding: 16px 0 16px 16px;
        }

        .search-field {
          flex: 1 1 100%;
        }
      }

      .submit-wrapper {
        flex: 0 0 50px;

        position: relative;

        display: inline-block;

        @include media( $third-break ) {
          flex: 0 0 41px;

          height: 100%;
        }

        @include media( $tall-enough ) {
          flex: 0 0 66px;
        }
      }

      .search-submit {
        position: relative;

        display: block;
        height: 76px;
        width: 50px;
        padding: 8px;

        background: transparent;

        border: 0;
        border-radius: 0;

        box-shadow: none;

        cursor: pointer;

        @include media( $third-break ) {
          height: 100%;
          width: 41px;
          padding: 0 8px;
        }

        @include media( $tall-enough ) {
          width: 66px;
          padding: 0 16px;
        }

        .icon {
          display: block;
          height: 100%;

          opacity: 1;
        }
      }
    }
  }
}
