/**
 * Sidebar
 */

.single,
.page {
  .site-content > .widget-area {
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;

    background-color: color(light-grey);

    @include media( $third-break ) {
      width: 100%;
    }

    &:before,
    &:after {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 50vw;

      background-color: color(light-grey);
    }

    &:before {
      right: 50%;
    }

    &:after {
      left: 50%;
    }

    .widget,
    .widget.two_most_featured .excerpted-post {
      background-color: color(white);
      box-shadow: $box-shadow;
    }

    .widget.two_most_featured,
    .widget.acm_ad_zones {
      background-color: transparent;
      box-shadow: none;
    }

    .widget.acm_ad_zones {
      text-align: center;
    }
  }

  &.is-full-screen {
    .site-content > .widget-area {
      @include container;
    }
  }
}
