/**
 * Site Branding
 */

.site-branding {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  @include media( $third-break ) {
    flex-wrap: wrap;

    //max-width: 540px;
  }

  .site-title {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    margin: 0 auto;

    @include media( $third-break ) {
      flex: 1 1 100%;

      height: 75px;
    }

    @include media( $tall-enough ) {
      height: 150px;
    }


    a {
      flex: 1 1 auto;

      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;

      padding: 5px;

      @include media( $third-break ) {
        margin-top: flex-gutter();
        margin-bottom: 0;
        padding: 0 5px;
      }

      @include media( $tall-enough ) {
        align-items: center;

        margin-bottom: flex-gutter();
        padding-top: 20px;
        padding-bottom: 0px;
      }

      svg {
        flex: 1 1 auto;

        @include media( $tall-enough ) {
          max-height: 140px;
        }
      }
    }
  }

  .site-description {
    @include visuallyhidden;
  }

  .category-menu-container {
    flex: 1 1 100%;
  }

  .site-header & {

    .site-title {

    }
  }
}
