/**
 * Site Branding
 */

.site-branding {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  @include media( $third-break ) {
    height: 75px;
  }

  @include media( $tall-enough ) {
    height: 150px;

  }

  .site-title {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    margin: 0 auto;

    a {
      flex: 1 1 auto;

      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;

      padding: 5px;

      @include media( $third-break ) {
        margin-top: flex-gutter();
        margin-bottom: flex-gutter();
        padding: 0 5px;
      }

      @include media( $tall-enough ) {
        align-items: center;

        padding-top: 20px;
        padding-bottom: 0px;
      }

      svg {
        flex: 1 1 auto;

        @include media( $tall-enough ) {
          max-height: 140px;
        }
      }
    }
  }

  .site-description {
    @include visuallyhidden;
  }

  .site-header & {

    .site-title {

      @include media( $third-break ) {
        max-width: 540px;

      }
    }
  }
}
