/**
 * Video
 */

.post_format-post-format-video {
  &.excerpted-post {
    .entry-hero {
      display: flex;
      align-items: center;

      background-color: color(black);

      > * {
        flex: 1 0 auto;
      }
    }
  }
}
