/**
 * Video
 */

.entry-hero .youtube-player { max-width: 100%; }

.post_format-post-format-video {
  .entry-hero {
  }
  .video-posts &.excerpted-post .entry-hero {
    margin-right: 0;
  }

  .features-posts &.excerpted-post,
  .taxonomy-posts &.excerpted-post:first-of-type {
    .entry-hero {
      display: flex;
      align-items: center;

      margin-right: 0;

      background-color: color(black);

      > * {
        flex: 1 0 auto;
      }
    }
  }
}
