/**
 * Archive
 */

.archive {
  .site-content {
    @include container;
  }

  .site-main {
    display: flex;
    flex-wrap: wrap;

    @include media( $third-break ) {
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;

      margin-top: 1.5em;
    }
  }

  &.category:not(.paged) {
    .site-main {
      .excerpted-post:not(.no-post-img) {
        .entry-excerpt {
          display: none;
        }
      }
    }
  }

  &.date,
  &.paged:not(.author),
  &.tax-post_format,
  &.post-type-archive-promotion,
  &.tag {
    @include two-column-archive-list();
  }
}
