/**
 * Author
 */

.archive.author {

  .site-content {
    @include media( $third-break ) {
      margin-top: 2em;
    }
  }

  .content-area {

    @include media( $third-break ) {
      @include span-columns( 8 );
    }

    .mobile-author-sidebar {
      display: flex;
      justify-content: center;

      padding: 2em flex-gutter(4);

      background-color: color( light-grey );

      @include media( $third-break ) {
        @include visuallyhidden;
      }

      .author_bio {
        flex: 0 0 auto;

        max-width: 300px;
        margin: 0;

        .author-social {
          text-align: center;
        }
      }
    }
  }

  .widget-area {

    @include media( $third-break ) {
      @include span-columns( 3 );

      @include shift( 1 );
    }

    .author_bio {
      display: none;

      @include media( $third-break ) {
        display: block;
      }
    }
  }

  .site-main {
    display: flex;
    flex-direction: column;

    margin-bottom: 4em;
    padding: 2em flex-gutter();

    background-color: color( white );

    box-shadow: $box-shadow;

    > * {
      flex: 1 0 auto;
    }
  }

  .archive-header {
    @include visuallyhidden();
  }
}
