/**
 * Author
 */

.archive.author {
  .site-content {
    @include media( $third-break ) {
      display: flex;
      flex-wrap: nowrap;

      margin-top: 2em;
    }
  }

  .content-area {
    @include media( $third-break ) {
      //@include span-columns( 8 );
      max-width: flex-grid(9) !important;
    }

    .mobile-author-sidebar {
      display: flex;
      justify-content: center;
      max-width: 100%;

      padding-bottom: 2em;

      background-color: color(light-grey);

      @include media( $third-break ) {
        @include visuallyhidden;
      }

      .author_bio {
        flex: 0 0 auto;

        max-width: 100%;
        margin: 0;

        > * {
          max-width: 300px;
          margin-left: flex-gutter(4);
          margin-right: flex-gutter(4);
        }

        .avatar {
          //width: 100%;
          height: auto;
          max-width: 100%;
          margin-right: auto;
          margin-bottom: 1em;
          margin-left: auto;
        }
      }
    }
  }

  .widget-area {
    @include media( $third-break ) {
      max-width: flex-grid(3);
      margin-top: 1.5em;
      margin-left: flex-gutter(9);
    }

    .author_bio {
      display: none;

      @include media( $third-break ) {
        display: block;
      }

      .avatar { margin-bottom: 1em; }

      p { margin-top: 0; }

      p:empty {
        display: none;
        margin-bottom: 0;
      }
    }
  }

  .site-main {
    display: flex;
    flex-direction: column;

    margin-bottom: 4em;
    padding: 2em flex-gutter(9);

    background-color: color(white);

    box-shadow: $box-shadow;

    > * {
      flex: 1 0 auto;
    }
  }

  .archive-header {
    @include visuallyhidden();
  }
}
