/**
 * Footer
 */

.site-footer {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: color( black );
  color: color( white );

  .widget {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
