/**
 * Home
 */

.home .site-main {
  @include container;

  display: flex;
  flex-wrap: wrap;

  @include media( $third-break ) {
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
}

.home-posts {
  flex: 1 1 100%;


  @include media( $third-break ) {
    flex: 0 1 flex-grid( 4 );

    //margin-left: flex-gutter();
    //margin-right: flex-gutter();
    margin-bottom: 2em;

    background-color: color( white );
  }
}


.features-posts,
.events-posts {

  @include media( $third-break ) {
    flex: 1 1 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    //height: 625px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    background-color: transparent;
  }

  .excerpted-post {

    @include media( $third-break ) {
      border: 0;

      box-shadow: $box-shadow;
    }
  }
}

.features-posts {

  @include media( $third-break ) {
    height: 720px;
  }

  > .section-header {}

  > .excerpted-post {

    @include media( $third-break ) {
      flex: 1 1 flex-grid( 8 );

      margin-right: flex-gutter();
      margin-bottom: 0;

    }

    .entry-header {
      @include pad( 0 flex-gutter( 8 ) );
    }

    .entry-hero {
      @include media( $third-break ) {
        position: relative;
        height: 550px;
        max-height: none;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
      }


      img {
        @include media( $third-break ) {
          position: absolute;
          top: -9999px;
          right: -9999px;
          bottom: -9999px;
          left: -9999px;

          height: auto;
          max-height: none;
          min-height: 100%;
          width: auto;
          max-width: none;
          min-width: 100%;
          margin: auto;
        }
      }
    }
  }

  > .right-column {
    flex: 1 1 flex-grid( 4 );

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    .excerpted-post {
      @include media( $third-break ) {
        flex: 1 1 auto;
        //flex: 1 1 auto; // needs ad

        //max-height: 443px;
      }

      .entry-hero {
        @include media( $third-break ) {
          min-height: auto;
        }
      }
    }

    .ad {

      flex: 0 1 250px;

      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      min-width: 300px;
      min-height: 250px;

      > * {
        flex: 0 0 auto;
      }




      @include media( $third-break ) {
      }
    }
  }
}

.news-posts,
.arts-posts,
.culture-posts {

  margin-top: 2em;

  @include media( $third-break ) {
    box-shadow: $box-shadow;
  }

  .section-header {
    position: relative;

    height: 0;

    .section-title {
      transform: translateY(-1em);

    }
  }

  .excerpted-post {
    &:nth-of-type( n+2 ) {
      margin-left: flex-gutter( 4 );
      margin-right: flex-gutter( 4 );
    }
  }
}

.events-posts {

  @include media( $third-break ) {


    min-height: 400px;

  }

  .excerpted-post {

    @include media( $third-break ) {
      flex: 0 1 flex-grid( 4 );
    }
  }
}

.promotions-posts {
  @include media( $third-break ) {

    flex: 0 1 flex-grid( 8 );
    padding-left: flex-gutter();
    padding-right: flex-gutter();

    box-shadow: $box-shadow;

  }

  .excerpted-post {
    &:nth-of-type( n+2 ) {
      margin-left: flex-gutter();
      margin-right: flex-gutter();
    }
  }
}
