/**
 * Navigation
 */

.main-navigation {
  display: block;
  width: 100%;
  clear: both;

  ul {
    @include no-list;

    ul {
      @include media( $third-break ) {
        //position: absolute;
        //top: 1.5em;
        //left: -999em;
        //z-index: 99999;

        //float: left;
      }

      ul {
        @include media( $third-break ) {
          //top: 0;
          //left: -999em;
        }
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      @include media( $third-break ) {
        //left: auto;
      }
    }
  }

  li {
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    padding: 0.5em 0;

    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

.menu-item {
  .icon {
    height: 25px;
    width: 25px;

    @include media( $tall-enough ) {
      height: 40px;
      width: 40px;
    }
  }
}

.menu-item-more {
  > a {
    color: color(black);
  }

  .sub-menu {
    max-height: 0;
    overflow: hidden;

    transition: all 0.25s ease-out;
  }

  &.show-sub-menu {
    .sub-menu {
      max-height: 100rem;
    }
  }
}

.menu-toggle {
  flex: 1 1 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  cursor: pointer;

  @include media( $third-break ) {
  }

  .icon {
    flex: 0 1 auto;

    height: 25px;
    width: 25px;
  }
}

.site-header {
  .main-navigation {
    position: relative;

    .navigation-menu {
      position: absolute;
      top: 50px;
      left: 0 - flex-gutter();
      z-index: 999;

      width: calc(100vw - 43px);
      max-height: calc(100vh - 50px);
      margin-bottom: 10vh;
      padding-right: flex-gutter();
      padding-bottom: 1em;
      padding-left: flex-gutter();
      overflow: scroll;
      -webkit-overflow-scrolling: touch;

      background-color: color(white);

      border-top: 1px solid color(grey);

      box-shadow: 0;

      transition: all 0.25s ease-out;

      @include media( $less-than-third-break ) {
        transform: translateX(-110%);
      }

      @include media( $third-break ) {
        top: 100%;
        left: auto;
        right: 0 - $half-gutter;

        width: auto;
        min-width: 320px;
        max-width: calc(100vw - 43px);
        max-height: calc(100vh - 125px);

        border-top: 0;

        transform: scaleX(0);
        transform-origin: right;
      }

      @include media( $tall-enough ) {
      }

      @at-root .show-nav & {
        //padding-bottom: 3em;

        box-shadow: 5px 10px 10px rgba(26, 25, 25, 0.4);

        @include media( $less-than-third-break ) {
          transform: translateX(0);
        }

        @include media( $third-break ) {
          //width: calc( 100vw - 43px );
          //max-width: 480px;
          max-height: calc(100vh - 125px);
          transform: scaleX(1);
        }

        @include media( $tall-enough ) {
        }
      }
    }
  }

  .main-navigation .menu {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

    margin-left: flex-gutter();
    margin-right: flex-gutter();

    @include media( $third-break ) {
    }

    .menu-item {
      flex: 1 1 100%;
      order: 2;

      display: block;

      color: color(red);

      @include media( $third-break ) {
      }

      &:hover,
      &:focus,
      &:active {
        > .sub-menu {
          @include media( $third-break ) {
          }
        }
      }

      &.menu-item-has-icon {
        a {
          * {
          }
        }
      }

      &.menu-item-calendar {
        order: 1;
      }

      a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        border-bottom: 1px solid color(red);

        @include media( $third-break ) {
        }
      }

      &.menu-item-more {
        .icon {
          flex: 0 1 15px;

          height: 15px;
          width: 15px;

          fill: color(grey);

          transform: rotate(0);
          transition: transform 0.25s ease-out;
        }

        &.show-sub-menu {
          .icon {
            transform: rotate(90deg);
          }
        }
      }

      .menu-item-title {
        flex: 1 1 auto;
      }

      .icon {
        flex: 0 1 40px;
      }
    }

    .sub-menu {
      margin-left: flex-gutter();

      .menu-item {
        color: color(black);

        //border-bottom: 1px solid color( black );

        &:last-child {
          border-bottom: 0;
        }

        a {
          border-color: color(black);
        }
      }
    }
  }
}

.category-menu-container {
  @include media( $third-break ) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    width: 100%;
    max-width: 540px;
    height: auto;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }

  .menu {
    flex: 1 1 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    flex: 1 1 auto;

    &.current-menu-item {
      a {
        color: color(red);
      }
    }
  }

  a {
    flex: 1 1 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    text-decoration: none;
  }

  .sub-menu,
  .icon {
    display: none;
  }
}

.contact-menu-container {
  ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 100%;
    margin: 0;

    li {
      flex: 1 0 100%;

      display: flex;
      justify-content: stretch;
      align-items: stretch;

      margin-right: 0;

      a {
        flex: 1 1 100%;

        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        text-decoration: none;

        .menu-item-title {
          flex: 0 1 auto;

          opacity: 0;

          color: color(red);

          white-space: nowrap;

          transition: all 0.25s ease-out;
        }

        .icon {
          flex: 0 0 40px;

          @include media( $tall-enough ) {
            margin-right: 8px;
            margin-left: 8px;
          }
        }

        &:hover {
          .menu-item-title {
            opacity: 1;
          }
        }
      }
    }
  }
}

.site-footer {
  .navigation-menu {
    @include container;

    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;

    padding-top: 1em;
    padding-bottom: 1em;

    border-top: 1px solid color(grey);
    border-bottom: 1px solid color(grey);

    @include media( $third-break ) {
      flex-wrap: nowrap;
      justify-content: space-around;
    }

    .menu-item {
      flex: 0 1 50%;

      text-align: left;

      @include media( $third-break ) {
        flex: 0 1 auto;
      }

      &:nth-child(2n) {
        text-align: right;
      }
    }

    a {
      display: block;
      padding: 0.5em 1em;

      color: color(white);

      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: color(red);
      }
    }
  }
}

.comment-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  & .nav-previous {
    width: 50%;
    float: left;
  }

  & .nav-next {
    width: 50%;
    float: right;

    text-align: right;
  }
}

.posts-navigation {
  .search-results &,
  .archive.paged &,
  .archive.tax-post_format &,
  .archive.date & {
    flex: 1 1 100%;

    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    > * {
      flex: 0 1 auto;
    }

    .nav-previous {
      align-self: flex-start;
    }

    .nav-next {
      align-self: flex-end;
    }

    .page-count {
      .current-page {
        position: relative;
        z-index: 2;

        display: inline-block;
        margin-right: 0.75em;
        padding: 0 0.25em 0 0.33em;
        overflow: visible;

        background-color: color(white);

        box-shadow: 2px 2px 0 2px color(red);

        outline: 1px solid color(red);
      }
    }

    a {
      color: color(red);

      span {
        color: color(black);
      }
    }
  }
}
