/**
 * Posts / Pages
 */

.site-content {
  @include container;

  @include media( $third-break ) {
    padding-left: flex-gutter();
    padding-right: flex-gutter();
  }

  @include media( $sixth-break ) {
    padding-left: 0;
    padding-right: 0;
  }

  .page &,
  .single & {
    display: flex;
    flex-wrap: wrap;

    @include media( $third-break ) {
      //flex-wrap: nowrap;
    }

    .content-area {
      flex: 1 1 100%;

      @include media( $third-break ) {
        flex: 1 1 flex-grid(8);

        padding-left: flex-gutter();
        padding-right: flex-gutter();
      }
    }
  }

  .is-full-screen.page &,
  .is-full-screen.single & {
    max-width: 100%;

    @include media( $third-break ) {
      position: relative;
      z-index: 1;

      padding-left: 0;
      padding-right: 0;
    }

    .content-area {
      @include media( $third-break ) {
        padding-left: 0;
        padding-right: 0;
      }

      .entry-header,
      .entry-content,
      .entry-footer {
        //padding-left: flex-gutter();
        //padding-right: flex-gutter();

        @include media( $third-break ) {
          flex-basis: 100%;
          align-self: center;

          width: $max-width/2;
          max-width: $max-width/2;
          //padding-left: flex-grid(3);
          //padding-right: flex-grid(3);
        }

        @include media( $fifth-break ) {
          padding-left: 0;
          padding-right: 0;
        }

        @include media( $sixth-break ) {
          //padding-left: flex-grid(4);
          //padding-right: flex-grid(4);
          width: $max-width*0.66;
          max-width: $max-width*0.66;
        }
      }

      .entry-header {
      }
    }
  }
}

.hentry {
  margin: 0 0 1.5em;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-hero {
  a,
  p {
    display: block;
    margin: 0;

    line-height: 0;
  }
}

/* Excerpted Posts */
.excerpted-post {
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 2em;
  padding-bottom: 2em;

  background-color: color(white);

  border-bottom: 1px solid color(red);

  &:last-of-type {
    margin-bottom: 1.5em;
  }

  &.promotion {
    padding-bottom: 1em;
  }

  &:nth-of-type(2)
    :not(.archive.paged .excerpted-post)
    :not(.archive.tax-post_format .excerpted-post)
    :not(.tribe-events-loop .type-tribe_events)
    :not(.more_features-posts .excerpted-post)
    :not(.events-posts.home-posts .excerpted-post)
    :not(.entry-date)
    :not(.entry-meta) {
    padding-top: 2em;

    border-top: 1px solid color(red);
  }

  .archive.paged & {
    flex: 1 1 100%;

    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  &.has-post-img {
    .entry-excerpt {
      display: none;
    }
  }

  &.no-post-img {
    flex-wrap: wrap;

    &.category-news {
      .entry-hero {
        display: none;
      }

      .entry-excerpt {
        flex: 1 1 100%;
      }
    }

    .entry-header {
      flex: 1 1 100%;
    }
    .entry-excerpt {
      order: 4;
    }
  }

  &.excerpted-post-list {
    flex-wrap: wrap;

    @include media( $third-break ) {
      flex: 1 0 100%;
    }

    > * {
      @include media( $third-break ) {
        //flex: 0 1 auto;
        //order: 1;

        //max-width: flex-grid( 8 );
      }
    }

    .entry-header {
      flex: 1 0 100%;
      order: 0;

      margin-bottom: 0.5em;
    }

    .entry-hero {
      flex: 0 0 150px;
      order: 1;

      margin-top: 0.5em;
      margin-right: flex-gutter(8);

      @include media( $third-break ) {
        //flex: 0 0 auto;

        max-width: 150px;
      }
    }

    .entry-excerpt {
      flex: 1 1 1%;
      order: 2;

      display: block;

      p {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .features-posts &,
  .news-posts &:first-of-type,
  .arts-posts &:first-of-type,
  .culture-posts &:first-of-type,
  .gallery-posts &:first-of-type,
  .latest-posts &:first-of-type,
  .popular-posts &:first-of-type,
  .events-posts &,
  .more_features-posts &,
  .related_posts &:first-of-type {
    @include featured-excerpt;
  }

  .entry-header {
    flex: 1 1 flex-grid(8);
    order: 2;
  }

  .entry-title {
    margin-bottom: 0.15em;
  }

  .entry-subhead {
    margin-bottom: 0.5em;
  }

  .entry-hero {
    flex: 1 1 flex-grid(4);
    order: 1;
    margin-right: flex-gutter();
  }
}

// Singular
.single .site-main,
.singular .site-main,
.page .site-main {
  .hentry {
    @include media( $third-break ) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: space-between;
    }
  }

  .entry-header,
  .entry-content,
  .entry-footer {
    padding-left: flex-gutter(4);
    padding-right: flex-gutter(4);

    @include media( $third-break ) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .entry-header {
    @include media( $third-break ) {
      flex: 1 1 100%;
      order: 2;
      align-self: stretch;
    }

    @include media( $fifth-break ) {
      padding-left: flex-grid(1);
    }

    .sd-sharing-enabled {
      padding-top: 1em;
    }
  }

  .entry-hero {
    max-height: calc(90vh - 125px);
    margin-bottom: 1.5em;
    overflow: hidden;

    @include media( $third-break ) {
      flex: 1 1 100%;
      order: 1;
      align-self: stretch;
    }

    &.in-content-hero {
      display: block;
      max-height: calc(500px + 3em);
      max-width: 500px;

      @include media( $less-than-wide ) {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }

      @include media( $fifth-break ) {
        margin-top: 1em;
        margin-left: flex-grid(-1);
      }

      .hero-caption {
        margin-left: 0;
        margin-right: 0;

        text-align: left;

        .photo-credit {
          display: block;
          margin-left: 0;
        }
      }
    }

    .hero-caption {
      margin-left: flex-gutter();
      margin-right: flex-gutter();
      margin-bottom: 1em;

      text-align: right;

      .photo-credit {
        display: inline-block;
        margin-left: 1em;

        color: color(grey);
      }
    }
  }

  .entry-title {
    margin-bottom: 0.15em;
  }

  .entry-subhead {
    margin-bottom: 0.5em;
  }

  .entry-content,
  .entry-footer {
    @include media( $third-break ) {
      flex: 0 1 60%;
      order: 3;
    }

    @include media( $fifth-break ) {
      padding-left: flex-grid(1);
    }
  }

  .entry-content {
    blockquote {
      @include media ($fourth-break) {
        max-width: flex-grid(6);
        float: left;
      }

      @include media( $fifth-break ) {
        margin-left: 0 - flex-gutter(2);
      }
    }
  }

  .entry-footer + .ad {
    @include media( $third-break ) {
      flex: 0 1 40%;
      order: 4;
      align-self: stretch;

      //max-width: 300px;
      padding-left: flex-gutter();
      padding-top: 3em;
    }
  }

  .entry-footer {
    @include media( $third-break ) {
      flex: 0 1 60%;
      order: 5;
    }

    @include media( $fifth-break ) {
      padding-left: flex-grid(1);
    }

    .tags-links {
      display: block;
      padding-top: 1em;

      border-top: 1px solid color(red);
    }
  }

  .widget-area {
  }

  .page {
    justify-content: center;

    @include media( $third-break ) {
      //max-width: flex-grid(10);
      //margin-left: flex-gutter(2);

      padding-left: 0;
    }

    .entry-header {
      @include visuallyhidden;
    }
  }

  .has-gallery-hero .entry-hero,
  .has-video-hero .entry-hero,
  .format-gallery .entry-hero,
  .post_format-post-format-video .entry-hero {
    max-height: none;
  }

  .no-post-hero {
    .widget-area {
      @include media( $third-break ) {
        //margin-top: calc( 333px + 5em );
      }
    }
  }

  .hentry:not(.category-letters, .category-slant, .category-biz_beat, .category-spray-schedule, .category-pollution-update, .category-activist-alert) {
    .entry-content {
      > p:first-child,
      > figure:first-child + p {
        &:first-letter {
          float: left;
          margin-right: flex-gutter(8);
          margin-top: 0.1em;
          margin-bottom: 0;

          @include media( $third-break ) {
            margin-right: flex-gutter(18);
          }
        }
      }
    }
  }
}

// Full Screen Posts
.single .site-main .full-screen {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  .entry-hero {
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow: hidden;

    text-align: center;

    @include media( $third-break ) {
      height: calc(100vh - 125px);
      min-height: calc(100vh - 125px);
      max-height: calc(100vh - 125px);
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      max-width: none;

      object-fit: cover;

      font-family: "object-fit: contain;object-position: center;";
    }
  }

  .entry-header,
  .entry-content,
  .entry-footer {
  }

  .entry-header {
  }

  .entry-content {
  }

  .entry-footer {
  }
}

.is-full-screen.single .entry-content {
  @include media( $less-than-third-break ) {
    .alignleft,
    .alignright {
      display: block;
      margin-right: auto;
      margin-left: auto;
      float: none;
      clear: both;

      vertical-align: top;

      .wp-caption-text {
        max-width: 100%;
      }
    }
  }

  @include media( $third-break ) {
    .alignleft {
      max-width: (50% - (flex-gutter())) !important;
      margin-right: flex-gutter();
      margin-left: 0;
    }

    .alignright {
      max-width: (50% - (flex-gutter())) !important;
      margin-right: 0;
      margin-left: flex-gutter();
    }

    .alignleft + .alignright {
      margin-left: 0;
      + * {
        clear: both;
      }
    }
  }

  @include media( $fourth-break ) {
    .aesop-component-align-center,
    .aligncenter {
      max-width: 100% + flex-gutter(2) + flex-gutter(2) !important;
      margin-left: 0 - flex-gutter(2);
      margin-right: 0 - flex-gutter(2);
    }
  }
}

.is-full-screen.single .site-main .title-over-hero {
  .entry-hero {
    margin-bottom: 0;
  }

  .entry-header {
    position: absolute;
    top: auto;
    z-index: 2;
    //width: 100vw;
    //max-width: 100vw;
    padding: $gutter flex-gutter(6);

    color: color(white);

    transform: translateY(-100%);

    @include media( $third-break ) {
      top: calc(100vh - 125px);

      padding: $gutter 0;
    }

    .entry-meta .posted-on {
      color: color(white);
    }
  }
}

.is-full-screen.single .site-main .hero-shadow {
  .entry-hero {
    position: relative;

    &:after {
      content: "";

      position: absolute;
      top: 33%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      background: linear-gradient(
        to bottom,
        transparent,
        rgba(1, 1, 1, 0.44) 50%
      );
    }
  }
}
