/**
 * Posts / Pages
 */

.site-content {
  @include container;

  .single & {
    display: flex;
    flex-wrap: wrap;

    @include media( $third-break ) {
      flex-wrap: nowrap;
    }

    .content-area,
    .widget-area {
      flex: 1 1 100%;
    }

    .content-area {
      @include media( $third-break ) {
        flex: 1 1 flex-grid( 8 );

        padding-left: flex-gutter();
        padding-right: flex-gutter();
      }
    }

    .widget-area {
      @include media( $third-break ) {
        flex: 0 1 flex-grid( 4 );

        margin-left: flex-gutter();
      }
    }
  }
}

.hentry {
  margin: 0 0 1.5em;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-hero {}

/* Featured Excerpts */
%featured-excerpt {

  flex-wrap: wrap;

  @include media( $third-break ) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }

  .entry-header {
    flex: 1 1 100%;
    order: 3;

    @include media( $third-break ) {
      flex: 0 1 auto;

      padding: 1em flex-gutter();
    }
  }

  .entry-hero {
    flex: 1 1 100 + flex-gutter( 2 ) + flex-gutter( 2 );
    order: 2;

    max-height: 50vh;
    max-width: 100 + flex-gutter( 2 ) + flex-gutter( 2 );
    margin-left: 0 - flex-gutter( 2 );
    margin-right: 0 - flex-gutter( 2 );
    overflow: hidden;

    @include media( $third-break ) {
      flex: 1 1 auto;

      //width: 100%;
      min-height: 270px;
      max-height: 270px;
      margin-left: 0;
      margin-right: 0;
    }

    img {
      height: auto;
      width: 100%;
      max-height: none;
      //min-height: 100%;
      //min-width: 100%;
    }
  }

  .entry-hero {
    flex: 1 1 100 + flex-gutter( 2 ) + flex-gutter( 2 );
    order: 1;

    display: block;
  }
}

/* Excerpted Posts */
.excerpted-post {
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 1.5em;
  padding-bottom: 1.5em;

  background-color: color( white );

  border-bottom: 1px solid color( red );

  @include media( $third-break ) {
    padding-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0.75em;
  }

  .features-posts &,
  .news-posts &:first-of-type,
  .art-posts &:first-of-type,
  .culture-posts &:first-of-type,
  .events-posts & {
    @extend %featured-excerpt;
  }

  .entry-header {
    flex: 1 1 flex-grid( 8 );

  }

  .entry-hero {
    flex: 1 1 flex-grid( 4 );

  }

  .entry-footer {
    display: none;

    .featured-event {
      display: block;
      padding: 0.5em flex-gutter( 6 );

      background-color: color( red );
      color: color( white );

    }

  }
}

// Singular

.single,
.singular,
.page {

  .entry-header,
  .entry-content,
  .entry-footer {
    padding-left: flex-gutter( 4 );
    padding-right: flex-gutter( 4 );

    @include media( $third-break ) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .entry-hero {
    margin-bottom: 1.25em;
  }

  .entry-title {
    margin-bottom: 0.25em;
  }

  .entry-subhead {
    margin-bottom: 0.5em;
  }

  .entry-content {
    > p:first-child {

      &:first-letter {
        float: left;
        margin-right: flex-gutter( 8 );
        margin-top: 0.1em;
        margin-bottom: 0;

        @include media( $third-break ) {
          margin-right: flex-gutter(18);
        }
      }
    }
  }


}
