/**
 * Posts / Pages
 */

.site-content {
  @include container;

  @include media( $third-break ) {
    padding-left: flex-gutter();
    padding-right: flex-gutter();
  }

  @include media( $sixth-break ) {
    padding-left: 0;
    padding-right: 0;
  }

  .single & {
    display: flex;
    flex-wrap: wrap;

    @include media( $third-break ) {
      flex-wrap: nowrap;
    }

    .content-area,
    .widget-area {
      flex: 1 1 100%;
    }

    .content-area {
      @include media( $third-break ) {
        flex: 1 1 flex-grid( 8 );

        padding-left: flex-gutter();
        padding-right: flex-gutter();
      }
    }

    .widget-area {
      @include media( $third-break ) {
        flex: 0 1 flex-grid( 4 );

        margin-left: flex-gutter();
      }
    }
  }
}

.hentry {
  margin: 0 0 1.5em;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-hero {
  a {
    display: block;

    line-height: 0;
  }
}

/* Featured Excerpts */
%featured-excerpt {

  flex-wrap: wrap;

  padding-bottom: 0;
  border-bottom: 0;

  @include media( $third-break ) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;

    padding-bottom: 0em;
  }

  &.no-post-img {
    .entry-hero {
      position: relative;

      background-color: color( grey );

      &:after {
        @extend %h3;

        content: 'No Image!';

        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 50%;

        text-align: center;

        transform: translate( -50%, -50% );
      }
    }
  }

  &:after {
    flex: 1 1 auto;
    order: 5;

    content: '';

    display: block;
    height: 0px;
    width: 100%;
    max-width: 100%;
    margin-left: flex-gutter( 4 );
    margin-right: flex-gutter( 4 );

    border-bottom: 1px solid color( red );

    @include media( $third-break ) {
      width: auto
    }

    .features-posts & { display: none; }
  }

  .entry-header {
    flex: 1 1 100%;
    order: 3;

    margin: 0 0 1em;
    @include pad( 0 flex-gutter( 4 ) 1em );

    @include media( $third-break ) {
      flex: 0 1 auto;
    }
  }

  .entry-hero {
    flex: 1 1 100%;
    order: 1;


    min-height: 200px;
    max-height: 50vh;
    max-width: 100%;
    margin-bottom: 1em;
    overflow: hidden;


    @include media( $third-break ) {
      flex: 1 1 auto;

      //width: 100%;
      min-height: 270px;
      max-height: 270px;
    }

    img {
      height: auto;
      width: 100%;
      max-height: none;
      //min-height: 100%;
      //min-width: 100%;
    }
  }

  .entry-footer {
    flex: 1 1 100%;

    display: none;

    @include media( $third-break ) {
      flex: 0 1 auto;
    }
   }
}

/* Excerpted Posts */
.excerpted-post {
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 2em;
  padding-bottom: 2em;

  background-color: color( white );

  border-bottom: 1px solid color( red );

  &:last-of-type {
    margin-bottom: 1.5em;
  }

  &.promotion {
    padding-bottom: 1em;
  }

  &.no-post-img {
    flex-wrap: wrap;

    &.category-news {
      .entry-hero {
        display: none;
      }

      .entry-excerpt {
        flex: 1 1 100%;

        display: block;
      }
    }

    .entry-header {
      flex: 1 1 100%;
    }


  }

  .features-posts &,
  .news-posts &:first-of-type,
  .arts-posts &:first-of-type,
  .culture-posts &:first-of-type,
  .events-posts &,
  .more_features-posts & {
    @extend %featured-excerpt;
  }

  .entry-header {
    flex: 1 1 flex-grid( 8 );
  }

  .entry-title {
    margin-bottom: 0.15em;
  }

  .entry-subhead {
    margin-bottom: 0.5em;
  }

  .entry-hero {
    flex: 1 1 flex-grid( 4 );
  }

  .entry-excerpt {
    display: none;
  }

  .entry-footer {

    .featured-event {
      display: block;
      padding: 7px 18px 3px;

      background-color: color( red );
      color: color( white );

    }

  }
}

// Singular

.single,
.singular,
.page {

  .entry-header,
  .entry-content,
  .entry-footer {
    padding-left: flex-gutter( 4 );
    padding-right: flex-gutter( 4 );

    @include media( $third-break ) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .entry-header {

  }

  .entry-hero {
    margin-bottom: 1.5em;

    .hero-caption {
      margin-left: flex-gutter();
      margin-right: flex-gutter();

      text-align: right;

      .photo-credit {
        display: inline-block;
        margin-left: 1em;

        color: color( grey );

      }
    }
  }

  .entry-title {
    margin-bottom: 0.15em;
  }

  .entry-subhead {
    margin-bottom: 0.5em;
  }

  .entry-content {
  }

  .hentry:not(.category-letters, .category-slant, .category-biz_beat, .category-spray-schedule, .category-pollution-update, .category-activist-alert ) {
    .entry-content {
      > p:first-child {

        &:first-letter {
          float: left;
          margin-right: flex-gutter( 8 );
          margin-top: 0.1em;
          margin-bottom: 0;

          @include media( $third-break ) {
            margin-right: flex-gutter(18);
          }
        }
      }
    }
  }
}
