/**
 * Sections
 */


.section-header {
  text-align: center;
}

.section-title {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;

  background-color: color( red );
  color: color( white );
}

.section-footer {
  padding-bottom: 2em;

  text-align: center;

  .archive-link {
    color: color( black );

    text-decoration: none;
  }

  .category-name {
    display: block;

    color: color( red );
  }
}
