/**
 * Taxonomy
 */

.taxonomy-posts {
  flex: 1 1 100%;


  @include media( $third-break ) {
    flex: 0 1 flex-grid( 4 );

    //margin-left: flex-gutter();
    //margin-right: flex-gutter();
    margin-bottom: 2em;

    background-color: color( white );
  }
}

.latest-posts,
.more_features-posts,
.popular-posts {

  margin-top: 2em;

  .section-header {
    position: relative;

    height: 0;

    .section-title {
      transform: translateY(-1em);
    }
  }
}


.latest-posts,
.popular-posts {

  @include media( $third-break ) {
    box-shadow: $box-shadow;
  }

  .excerpted-post {
    &:nth-of-type( n+2 ) {
      margin-left: flex-gutter( 4 );
      margin-right: flex-gutter( 4 );
    }
  }
}


.more_features-posts {
  background-color: transparent;

  .excerpted-post {
    &:after { display: none; }

    @include media( $third-break ) {
      box-shadow: $box-shadow;
    }
  }
}
