/**
 * Widgets
 */

.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {}

.widget-area {

  .single &,
  .page & {
    display: flex;

    @include media( $third-break ) {
      flex-wrap: nowrap;
    }

    .widget {
      flex: 0 1 25%;

      @include media( $third-break ) {
        flex-wrap: nowrap;
      }

      &:not( :last-child ) {
        @include media( $third-break ) {
          margin-right: flex-gutter();
        }
      }
    }
  }

  .widget-title {
    display: block;
    padding: 7px 18px 3px;

    background-color: color( red );
    color: color( white );
  }
}

.widget {
  .hentry {
    &:last-of-type {
      padding-bottom: 0;

      border-bottom: 0;
    }

    &.no-post-img {
      &:first-of-type {
        padding-top: 2em;
      }
    }
  }
}


.widget.most_featured_event {
  .excerpted-post {
    @extend %featured-excerpt;
  }
}
