/**
 * Widgets
 */

.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

/* Search widget. */
.widget_search .search-submit {}

.widget-area {

  .single .content-area + &,
  .page .content-area + & {

    @include media( $third-break ) {
    }

    .widget {

      @include media( $third-break ) {
        float: left;
        width: flex-grid( 4 );
        max-width: 300px;
      }

      &:not( :last-child ) {
        @include media( $third-break ) {
          margin-right: flex-gutter();
        }
      }

      &.related_posts {
      }
    }
  }

  .widget-title {
    display: block;
    padding: 7px 18px 3px;

    background-color: color( red );
    color: color( white );
  }
}

.widget {
  .hentry {
    &:last-of-type {
      padding-bottom: 0;

      border-bottom: 0;
    }

    &.no-post-img {
      &:first-of-type {
        padding-top: 2em;
      }
    }
  }
}


.widget.most_featured_event {
  .excerpted-post {
    @extend %featured-excerpt;
  }
}

.widget.most_featured_feature {

  .hero-caption {
    @include visuallyhidden;
  }
}
