/**
 * Typography
 */

html {
  font-size: 100%;
}

body,
button,
input,
select,
textarea {
  color: copy(text-main);

  font-family: $alianza;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
%h1 {
  font-weight: 900;
  font-size: em(64);
  font-family: $alianza;
  line-height: 0.9;
  hyphens: auto;
}

h2,
%h2 {
  font-weight: 900;
  font-size: em(48);
  font-family: $alianza;
  line-height: 0.9;
  hyphens: auto;
}

h3,
%h3 {
  font-weight: 900;
  font-size: em(36);
  font-family: $alianza;
  line-height: 1;
  hyphens: auto;
}

h4,
%h4 {
  font-style: italic;
  font-weight: 400;
  font-size: em(18);
  font-family: $alianza;
  line-height: 1.25;
  hyphens: auto;
}

h5,
%h5 {
  font-style: italic;
  font-weight: 900;
  font-size: em(16);
  font-family: $alianza;
  line-height: 1.25;
  text-transform: uppercase;
  hyphens: auto;
}

h6,
%h6 {
  font-style: normal;
  font-weight: 900;
  font-size: em(16);
  font-family: $alianza;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
  hyphens: auto;
}

blockquote {
  @extend %h3;

  cite {
    @extend %h5;
  }
}

.site-header .menu-item,
.menu-toggle .menu-label,
.search-label {
  @extend %h4;

  font-weight: 900;
  font-size: em(18, 16);
  text-transform: uppercase;

  .sub-menu .menu-item {
    font-weight: 400;
    text-transform: none;
  }
}

.entry-meta {
  @extend %h5;

  font-weight: 700;
  font-size: em(12, 16);
  text-transform: uppercase;
}

.entry-footer .tags-links {
  @extend %h5;

  font-weight: 700;
  font-size: em(14, 16);
  text-transform: uppercase;
}

.hentry:not(.category-letters, .category-slant, .category-biz_beat, .category-spray-schedule, .category-pollution-update, .category-activist-alert) {
  .entry-content {
    > p:first-child,
    > figure:first-child + p {
      &:first-letter {
        font-weight: 900;
        font-size: em(108, 18);
        line-height: 0.66;
      }
    }
  }
}

.excerpted-post {
  .entry-footer {
    @extend %h5;
  }
}

.excerpted-post-list {
  .entry-excerpt {
    a {
      text-decoration: none;
    }
  }
}

.single .content-area,
.singular .content-area,
.page .content-area {
  .entry-title {
    @include media( $less-than-third-break ) {
      font-size: em(48, 18);
    }
  }

  .entry-subhead {
    font-size: em(30, 18);

    @include media( $less-than-third-break ) {
      font-size: em(22.5, 18);
    }
  }

  .entry-footer {
    .tags-links {
      text-transform: uppercase;
      font-style: italic;

      a {
        text-decoration: none;
      }
    }
  }
}

.single .full-screen .content-area {
  .entry-header {
    text-align: center;
  }
}

.hero-caption {
  @extend %h6;

  font-size: em(10, 16);
  font-weight: 400;

  @include media( $third-break ) {
    font-size: em(14, 16);
  }

  .photo-credit {
    font-style: italic;
    font-size: em(12, 14);
    text-transform: none;
  }
}

.posts-navigation {
  @extend %h6;

  font-weight: 400;
  font-size: em(12, 16);

  .nav-previous,
  .nav-next {
    span {
      font-style: italic;
    }
  }

  a {
    text-decoration: none;
  }
}

.tribe_events {
  .event-caption {
    @extend %h3;

    line-height: 0.8;
    text-transform: uppercase;
    text-shadow: $text-shadow;

    .event-month,
    .event-date {
      white-space: nowrap;
    }

    .event-month {
      font-size: em(32, 36);
    }

    .event-date {
      font-size: em(56, 36);
    }
  }
}

#tribe-bar-form {
  label {
    @extend %h5;

    font-weight: 700;
  }

  input[type=text] {
  }

  .tribe-bar-submit input[type=submit] {
    font-size: inherit;
  }
}

#tribe-bar-views {
  .tribe-bar-views-inner {
    label {
    }

    .tribe-bar-views-list {
    }
  }
}

#tribe_events_filters_wrapper {
  #tribe_events_filter_control {
  }

  .tribe-events-filters-content {
    .tribe-events-filters-label {
    }
  }

  .tribe_events_filter_item {
  }

  .tribe-events-filters-group-heading {
  }

  .tribe-events-filter-group {
    label {
      input[type=checkbox] {
      }

      span {
      }
    }
  }
}

#tribe_events_filters_reset {
}

.tribe-events-page-title {
}

#tribe-events-header {
  .tribe-events-sub-nav {
  }
}

.tribe-events-list-separator-month {
  span {
    @extend %h5;
  }
}

.tribe-event-schedule-details {
  @extend %h4;
}

.widget-area .widget-title {
  @extend %h5;

  font-weight: 400;
  font-size: em(16, 12.45);
}

.widget .entry-subhead {
  font-size: em(16);
}

.section-footer .archive-link {
  @extend %h5;

  font-style: normal;
  line-height: 0.33;

  .category-name {
    font-style: italic;
  }
}

.site-footer {
  font-weight: 400;
  font-size: em(16);
  font-family: $alianza;
  line-height: 1.25;
  text-align: center;

  .copyright {
    font-size: em(12, 16);
  }
}

.search-field {
  font-weight: 600;
  font-size: em(13.5, 18);
}
