/**
 * Typography
 */

html { font-size: 100%; }

body,
button,
input,
select,
textarea {
  color: copy( text-main );

  font-family: $alianza;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
%h1 {
  font-weight: 900;
  font-size: em( 64 );
  font-family: $alianza;
  line-height: 0.9;
}

h2,
%h2 {

}

h3,
%h3 {
  font-weight: 900;
  font-size: em( 36 );
  font-family: $alianza;
  line-height: 1;
}

h4,
%h4 {
  font-style: italic;
  font-weight: 400;
  font-size: em( 18 );
  font-family: $alianza;
  line-height: 1.25;
}

h5,
%h5 {
  font-style: italic;
  font-weight: 900;
  font-size: em( 16 );
  font-family: $alianza;
  line-height: 1.25;
  text-transform: uppercase;
}

h6,
%h6 {
  font-style: normal;
  font-weight: 900;
  font-size: em( 16 );
  font-family: $alianza;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  @extend %h3;

  cite {
    @extend %h5;
  }
}

.site-header .menu-item,
.menu-toggle .menu-label,
.search-label {
  @extend %h4;

  font-weight: 900;
  font-size: em( 18, 16 );
  text-transform: uppercase;

  .sub-menu .menu-item {
    font-weight: 400;
    text-transform: none;
  }
}


.entry-meta {
  @extend %h5;

  font-weight: 700;
  font-size: em( 12, 16 );
  text-transform: uppercase;
}

.hentry:not(.category-letters, .category-slant, .category-biz_beat, .category-spray-schedule, .category-pollution-update, .category-activist-alert ) {
  .entry-content {
    > p:first-child,
    > figure:first-child + p {

      &:first-letter {
        font-weight: 900;
        font-size: em( 108, 18 );
        line-height: 0.66;
      }
    }
  }
}

.excerpted-post {

  .entry-footer {
    @extend %h5;
  }
}

.single,
.singular,
.page {
  .entry-title {

  }

  .entry-subhead {
    font-size: em( 30, 18 );
  }

  .entry-footer {
    .tags-links {
      text-transform: uppercase;
      font-style: italic;

      a { text-decoration: none; }
    }
  }
}


.hero-caption {
  @extend %h6;

  font-size: em( 10, 16 );

  @include media( $third-break ) {
    font-size: em( 14, 16 );
  }

  .photo-credit {
    font-style: italic;
    font-weight: 400;
    font-size: em( 12, 14 );
    text-transform: none;
  }
}

.tribe_events {
  .event-caption {
    @extend %h3;

    line-height: 0.8;
    text-transform: uppercase;
    text-shadow: $text-shadow;

    .event-month,
    .event-date {
      white-space: nowrap;
    }

    .event-month {
      font-size: em( 32, 36 );
    }

    .event-date {
      font-size: em( 56, 36 );
    }
  }
}

#tribe-bar-form {
  label {
    @extend %h5;

    font-weight: 700;
  }

  input[type=text] {

  }

  .tribe-bar-submit input[type=submit] {
    font-size: inherit;
  }
}


#tribe-bar-views {
  .tribe-bar-views-inner {
    label {}

    .tribe-bar-views-list {}
  }
}


#tribe_events_filters_wrapper {

  #tribe_events_filter_control {

  }

  .tribe-events-filters-content {
    .tribe-events-filters-label {


    }
  }

  .tribe_events_filter_item {


  }

  .tribe-events-filters-group-heading {


  }

  .tribe-events-filter-group {

    label {

      input[type=checkbox] {

      }

      span {

      }
    }
  }
}

#tribe_events_filters_reset {


}

.tribe-events-page-title {}

#tribe-events-header {


  .tribe-events-sub-nav {}
}

.tribe-events-list-separator-month {

  span {
    @extend %h5;
  }
}

.widget-area .widget-title {
  @extend %h5;
}

.section-footer .archive-link {
  @extend %h5;

  font-style: normal;
  line-height: 0.33;

  .category-name { font-style: italic; }
}

.site-footer {
  font-weight: 400;
  font-size: em( 16 );
  font-family: $alianza;
  line-height: 1.25;
  text-align: center;

  .copyright { font-size: em( 12, 16); }
}
