/**
 * Typography
 */

html { font-size: 100%; }

body,
button,
input,
select,
textarea {
  color: copy( text-main );

  font-family: $alianza;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
%h1 {

}

h2,
%h2 {

}

h3,
%h3 {
  font-weight: 900;
  font-size: em( 36 );
  font-family: $alianza;
  line-height: 1;
}

h4,
%h4 {
  font-style: italic;
  font-weight: 400;
  font-size: em( 18 );
  font-family: $alianza;
  line-height: 1.25;
}

h5,
%h5 {
  font-style: italic;
  font-weight: 900;
  font-size: em( 16 );
  font-family: $alianza;
  line-height: 1.25;
  text-transform: uppercase;
}

h6,
%h6 {

}

.site-header .menu-item {
  @extend %h4;

  font-weight: 900;
  font-size: em( 18, 16 );
  text-transform: uppercase;

  .sub-menu .menu-item {
    font-weight: 400;
    text-transform: none;
  }
}

.entry-meta {
  @extend %h5;

  font-size: em( 12, 16 );
  text-transform: none;
}

.excerpted-post {

  .entry-footer {
    @extend %h5;
  }
}

.tribe_events {
  .hero-caption {
    @extend %h3;

    line-height: 0.8;
    text-transform: uppercase;
    text-shadow: $fake-stroke;

    .event-month,
    .event-date {
      white-space: nowrap;
    }

    .event-month {
      font-size: em( 32, 36 );
    }

    .event-date {
      font-size: em( 56, 36 );
    }
  }
}


.section-footer .archive-link {
  @extend %h5;

  font-style: normal;
  line-height: 0.66;

  .category-name { font-style: italic; }
}

.site-footer {
  font-weight: 400;
  font-size: em( 16 );
  font-family: $alianza;
  line-height: 1.25;
  text-align: center;

  .copyright { font-size: em( 12, 16); }
}
